html {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 3fr 80px;  
  justify-content: center;
  background-color: white;
  color: white;
}

.mainheading {
  font-family: "Pacifico", serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-color: rgb(185, 175, 233); */

  /* From https://css.glass */
  background: rgba(36, 5, 235, 0.766);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(111, 78, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(111, 78, 255, 0.3);

  text-align: center;
  padding-top: 2.5%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

}

.maincontent {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  padding: 50px 100px;
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
}

.mainfoot {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: red;
  text-align: start;
  padding: 20px 100px;
}

.mainbutton {
  background-color: gray;
  padding: 10px 50px;
  border-radius: 16px;
  color: white;
  border: 0px white solid;
}